body {
  margin: 0;
  padding: 0;
}

.game-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.main-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sub-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button {
  border-radius: 20px;
}

.start-button {
  margin-top: 100px;
}

.game-content {
  font-size: 40px;
}

.text-center {
  text-align: center;
}

.game-inner {
  width: 50%;
  margin: 50px auto;
}
